<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>redirect-test</servlet-name>
        <jsp-file>/WEB-INF/redirect-test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirect-test</servlet-name>
        <url-pattern>/redirect-test</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/exception</location>
    </error-page>
    <error-page>
        <!-- No error-code or exception-type, i.e. this will match any other HTTP status than defined above -->
        <location>/unhandled-error.html</location>
    </error-page>
</web-app>